* {
  -webkit-overflow-scrolling: touch;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
span {
  display: inline-block;
}
i {
  font-style: normal;
}
.relative {
  position: relative;
}
.cursor {
  cursor: pointer;
}
.mb-40 {
  margin-bottom: 40px;
}
#root {
  height: 100%;
  color: #333;
  font-size: 20px;
}
.app-wrap {
  height: 100%;
}

@media (max-width: 750px) {
  html {
    font-size: 75px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 35.8px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 32px;
  }
}

.mt-20 {
  margin-top: 20px;
}

::-webkit-scrollbar {
  /* 整个滚动条样式 高宽分别对应横竖滚动条的尺寸 */
  width: 6px;
  height: 6px;
  background: #f8fbfe;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);

  /* 滚动条里面小方块 */
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(144, 147, 153, 0.2);
  transition: background-color 0.3s;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;

  /* 滚动条里面轨道 */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
}
